@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Cinzel&family=Comforter+Brush&family=Cormorant+Garamond:wght@300;500;700&family=Poppins:wght@100;300;500&display=swap');

*{
    margin: 0%;
    padding: 0% 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --primary-color: #78290F;
    --maintext-color: #ffd60a;
    --tertiary-color: #1b4965;
}

body{
    line-height: 1.4;
    background-color: var(--primary-color);
    position: relative;
}

.showcase{
    background-image: url('../hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a:hover{
    text-decoration: underline;
}


li{
    margin-right: 4px;
    font-size: 40px;
}

a{
    color: var(--maintext-color);
}

.section-1 a:hover{
    background-color: #ffd60a;
    color: black;
}

.showcase-header{
    font-size: 85px;
    color: #ffd60a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.section-1{
    padding: 10px 0px;
}

.section-1 p{
    font-size: 60px;
    color: white;
}

.section-1 a{
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    padding: 6px;
    border-radius: 30px;
    border: 1px solid var(--maintext-color);
}

.section-2 h2{
    padding: 30px 0px;
}

.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project h3{
    color: white;
    font-size: 40px;
}

.section-3 h2{
    padding: 30px 0px;
}

.works{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 20px;
    margin: 10px 0px;
}


.works h3{
    font-size: 30px;
}

.section-4 h2{
    padding: 30px 0px;
}

.words{
    background-color: #ffd60a;
    padding: 3px;
    font-size: 50px;
}

.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section ul{
    display: flex;
}

.footer-section li{
    margin-right: 5px;
}

.footer-section p{
    font-family: 'Poppins';
}

/* Media Queries */

@media (max-width: 768px) {
    .showcase-header{
        font-size: 60px;
    }

    .section-1 p{
        font-size: 40px;
    }

    .section-2 h3{
        font-size: 30px;
    }

    .works{
        display: block;
        margin: 15px 0px;
    }

    .words{
        font-size: 40px;
    }

    .footer-section{
        display: block;
    }

    .links{
        display: none;
    }
}








/* Utility Classes */

.font-poppins{
    font-family: 'Poppins', 'sans-serif';
}

.font-bodoni{
    font-family: 'Bodoni Moda', sans-serif;
}

.font-cinzel{
    font-family: 'Cinzel';
}

.font-comforter{
    font-family: 'Comfoter brush', sans-serif;
}

.font-garamond{
    font-family: 'Cormorant Garamond';
}

.text-xs{
    font-size: 0.75rem; /* 12px */
line-height: 1rem; /* 16px */
}	

.text-sm{
    font-size: 0.875rem; /* 14px */
line-height: 1.25rem; /* 20px */
}	

.text-base{
    font-size: 1rem; /* 16px */
line-height: 1.5rem; /* 24px */
}

.text-lg{
    font-size: 1.125rem; /* 18px */
line-height: 1.75rem; /* 28px */
}

.text-xl{
    font-size: 1.25rem; /* 20px */
line-height: 1.75rem; /* 28px */
}

.text-2xl{
    font-size: 1.5rem; /* 24px */
line-height: 2rem; /* 32px */
}

.text-3xl{
    font-size: 1.875rem; /* 30px */
line-height: 2.25rem; /* 36px */
}

.text-4xl{
    font-size: 2.25rem; /* 36px */
line-height: 2.5rem; /* 40px */
}

.text-5xl{
    font-size: 3rem; /* 48px */
line-height: 1;
}

.text-6xl{
    font-size: 3.75rem; /* 60px */
line-height: 1;
}

.text-7xl{
    font-size: 4.5rem; /* 72px */
line-height: 1;
}

.text-8xl{
    font-size: 6rem; /* 96px */
line-height: 1;
}

.text-9xl{
    font-size: 8rem; /* 128px */
line-height: 1;
}

.text-white{
    color: white;
}